.youtube-clone-video-preview-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.youtube-clone-video-info-container {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-top: 8px;
  column-gap: 10px;
}

.youtube-clone-thumbnail-container {
  position: relative;
}

.youtube-clone-video-time {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  font-family: Roboto, Arial;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 2px;
  font-weight: 500;
}

.youtube-clone-thumbnail-picture {
  width: 100%;
}

.youtube-clone-video-channel-picture {
  width: 100%;
  border-radius: 20px;
}

.youtube-clone-video-title {
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 10px;
}

.youtube-clone-video-author {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 6px;
}

.youtube-clone-video-stats {
  color: rgb(96, 96, 96);
  font-size: 14px;
}
