.youtube-clone-video-preview-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .youtube-clone-video-preview-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 1099px) {
  .youtube-clone-video-preview-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .youtube-clone-video-preview-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.youtube-clone-video-info-container {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-top: 8px;
  column-gap: 10px;
}

.youtube-clone-thumbnail-container {
  position: relative;
  cursor: pointer;
}

.youtube-clone-video-time {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 2px;
  font-weight: 500;
}

.youtube-clone-thumbnail-picture {
  width: 100%;
}

.youtube-clone-video-channel-picture {
  width: 100%;
  border-radius: 20px;
}

.youtube-clone-video-channel-icon{
  position: relative;
  height: 40px;
  cursor: pointer;
}

.youtube-clone-video-channel-subs-info {
  position: absolute;
  display: flex;
  width: 200px;
  padding: 15px;
  background-color: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  opacity: 0;
  bottom: -75px;
  left: 50px;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.15s;
}

.youtube-clone-video-channel-icon:hover
.youtube-clone-video-channel-subs-info {
  opacity: 1;
}

.youtube-clone-video-channel-subs-info img {
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.youtube-clone-video-channel-subs-info-author{
  font-weight: 600;
  margin-bottom: 3px;
}

.youtube-clone-video-channel-subs-info-sub-count{
  font-size: 14px;
  color: rgb(120, 120, 120);
}

.youtube-clone-video-title {
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 10px;
  cursor: pointer;
}

.youtube-clone-video-author {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 6px;
  cursor: pointer;
}

.youtube-clone-video-stats {
  color: rgb(96, 96, 96);
  font-size: 14px;
}
